
.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card {
  width: 100px;
  padding: 0;
  border-radius: 10px;
  background: #27263c;
  box-shadow: 0px -6.8px 9.8px rgba(0, 0, 0, 0.003),
    0px -10.8px 23.5px rgba(0, 0, 0, 0.008),
    0px -10.3px 44.3px rgba(0, 0, 0, 0.016),
    0px -1.5px 79.1px rgba(0, 0, 0, 0.026),
    0px 28.5px 147.9px rgba(0, 0, 0, 0.042), 0px 174px 354px rgba(0, 0, 0, 0.07);
}


input,
button {
  display: block;
  width: 240px;
  height: 48px;
  margin: 0 70px;
  border-radius: 24px;
  font-size: 16px;
  font-family: inherit;
  outline-color: #3181f8;
  text-align: center;
}

input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  padding: 12px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

button {
  background: #864dfb;
  color: #f9f9f9;
  border: 0;
  cursor: pointer;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 130px;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  box-shadow: none;
  background: #864dfb;
  width: 16px;
  height: 16px;
}

.swiper-horizontal .swiper-pagination-bullets.swiper-pagination-horizontal {
  top: auto;
  bottom: 56px;
}

.swiper-slide img {
  height: 170px;
  margin-bottom: 10px;
}


/* Slider css end */
.review-section-frame {
  align-self: stretch;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 68px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.image-4-icon1 {
  height: 840px;
  width: 1804px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 503px);
  left: calc(50% - 842px);
  object-fit: cover;
}
.mappin-icon4,
.mappin-icon5,
.mappin-icon6,
.mappin-icon7 {
  height: 24px;
  width: 24px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 62px);
  left: calc(50% - 212px);
  z-index: 1;
}
.mappin-icon5,
.mappin-icon6,
.mappin-icon7 {
  top: calc(50% + 88px);
  left: calc(50% - 162px);
}
.mappin-icon6,
.mappin-icon7 {
  top: calc(50% - 42px);
  left: calc(50% + 398px);
}
.mappin-icon7 {
  top: calc(50% + 59px);
  left: calc(50% - 532px);
}
.location-pin-map {
  width: 110%;
  height: 400px;
  overflow: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: 0 40px;
}
.homepage1,
.location1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.location1 {
  width: 1320px;
  overflow-x: auto;
  align-items: flex-start;
  padding: 0 20px 148px;
  box-sizing: border-box;
  gap: 50px 0;
  max-width: 100%;
  flex-shrink: 0;
}
.homepage1 {
  width: 100%;
  position: relative;
  background-color: #252525;
  overflow: hidden;
  align-items: center;
  gap: 12px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .location1 {
    padding-bottom: 96px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .location1,
  .review-section-frame {
    padding-bottom: 44px;
    box-sizing: border-box;
  }
  .location1 {
    padding-bottom: 62px;
  }
}
@media screen and (max-width: 800px) {
  .location1 {
    gap: 50px 0;
  }
}
@media screen and (max-width: 450px) {
  .location1,
  .review-section-frame {
    padding-bottom: 29px;
    box-sizing: border-box;
  }
  .location1 {
    padding-bottom: 40px;
  }
}
.location-pin-map{
    -ms-overflow-style: none; 
    scrollbar-width: none;     
  }
.location-pin-map::-webkit-scrollbar {
    display: none;
}
