@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
  background-color: #252525;
  color: #fff;
}

/* custom scrollbar start */
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e8454a; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* custom scrollbar end */


.buttons-states-dark61:hover {
  background-color: #b38205;
  border: 3px solid #b38205;
  box-sizing: border-box;
}
.property-1filledprimary:hover {
  background-color: #424242;
  border: 3px solid #424242;
  box-sizing: border-box;
}
.buttons-states-dark24:hover {
  background-color: #424242;
  border: 3px solid #424242;
  box-sizing: border-box;
}
.buttons-states-dark26:hover {
  background-color: #424242;
  border: 3px solid #424242;
  box-sizing: border-box;
}
.buttons-states-dark27:hover {
  background-color: #424242;
  border: 3px solid #424242;
  box-sizing: border-box;
}
.buttons-states-dark28:hover {
  background-color: #b38205;
  border: 3px solid #b38205;
  box-sizing: border-box;
}
.buttons-states-dark29:hover {
  background-color: #b38205;
  border: 3px solid #b38205;
  box-sizing: border-box;
}

.navbar--wrap {
  height: 100px;
  padding: 10px 10px;
}

.submenu {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  top: 153px;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.submenu.open {
  display: flex;
  padding: 25px;
  max-height: 300px;
  opacity: 1
}
.hamburger-sub{
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin: auto;
}
.hamburger-sub:hover{
  background-color:#e5b638;
}
.burger-line {
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.header-right-action--w{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* slider */
.review-section-frame .slick-next {
  right: 56px;
  z-index: 9;
}
.review-section-frame .slick-prev {
  left: 25px;
  z-index: 9;
}
.review-section-frame .slick-slide img {
  display: block;
  width: 100%;
  z-index: 1;
  position: relative;
  height: 80vh;
  object-fit: cover;
  background-position: center;
}

.review-section-frame .slider-item {
  position: relative;
  color: #fff;
  font-size: 20px;
}
.review-section-frame .order-action {
  border: 2px solid #e5b638;
  padding: 10px 20px;
  margin-top: 20px;
}
.review-section-frame .basket-button2 {
  margin: -75px auto auto;
}
.review-section-frame .order-action {
  border: 2px solid #e5b638;
  padding: 10px 20px;
  margin-top: 20px;
  transition: all 0.2s ease-in;
}
.review-section-frame .order-action:hover {
  background-color:#e5b638;
  
}
.review-section-frame .slick-prev:before,
.review-section-frame .slick-next:before {
  content:"";
  background-image:  url(./assets/icons/arrow-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  font-family: "slick";
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: rgba(255, 255, 255, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  filter: invert(1);
  border: 1px solid #000;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  opacity: 0.3;
  transition: all 0.3s ease;
}
.review-section-frame .slick-prev:hover:before,
.review-section-frame .slick-next:hover:before {
  opacity: 1;
}
.review-section-frame .slick-prev:before {
  transform: rotate(180deg);
}
.banner-action--wrapper {
  position: absolute;
  min-width: 638px;
  min-height: 232px;
  background: #0e0e0e47;
  top: 30%;
  left: 10%;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 24px;
  z-index: 9;
}

/* common classes */
.fp-container-main{
  max-width: 100%;
}
.fp-wrapper-main{
  max-width: 90%;
  margin: 40px auto;
}

.sec-info--w{
  display: flex;
  justify-content: space-between;

}
.side--w{
  flex: 0 0 48%;
  max-width: 50%;

}
.side--w.w-full{
  flex: 0 0 100%;
  max-width: 100%;

}

.fp-para-section-title-sm{
  font-size: 20px;
}

.fp-para-section-title-md {
  font-size: 30px;
}
.fp-para-section-title{
  font-size: 30px;
  font-weight: 700;
  width: max-content;

}

.fp-para-section-title.bottom-a-line:after{
  content: " ";
  display: block;
  width: 2%;
  height: 4px;
  border-radius: 10px;
  background-color: #E5B638;
  animation-name: titleBottomLine;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes titleBottomLine {
  from {  width: 2%;}
  to {  width: 100%;}
}


.fp-form-common { 
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border: 1px solid #C1C1C1;
  border-radius: 6px;
  background-color: #363636;
}


.fp-form-common .fp-input-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.fp-input-w{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fp-form-common .user-field-input-common {
  width: 100%;
  height: 49px;
  padding-left: 20px;
  border: 1px solid #C1C1C1;
  border-radius: 6px;
  background-color: transparent;
}
.fp-form-common .user-field-textarea-common {
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  border: 1px solid #C1C1C1;
  border-radius: 6px;
  background-color: transparent;
}

.fp-form-common .user-field-select-common {
  padding-right: 20px;
  background-color: #363636;
}

.fp-primary-btn {
  background-color: #C21F24;
  width: 100%;
  height: 45px;
  border-radius: 5px;
}
.file-upload-w{
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.fp-input-file{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.file-u-overlay {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #505050;
}

@media (max-width: 767px) {
  .sec-info--w{
    flex-direction: column;
  }
  .sec-info--w.info_event{
    flex-direction: column-reverse;
  }
}